.menu {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
.detalle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
}
.carrito {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.detalle-img {
  width: 50%;
}
.ofertas-titulo {
  text-align: center;
}
.ofertas-contenedor {
  margin: 40px 40px 40px 40px;
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.logo {
  color: white;
  font-size: 35px;
  padding: 0 80px;
  font-weight: bold;
}
.logo-img {
  margin-top: 6px;
  width: 200px;
}
.logo-container {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.titulo-container {
  margin-left: 20%;
}
.menu_items {
  display: flex;
  list-style: none;
  margin-right: 30px;
}

.menu_items li {
  border-radius: 3px solid;
  margin: 0 5px;
}

.menu_items li link {
  padding: 7px 13px;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  display: block;
  /*para que ocupe todo el espacio dentro del li */
}

.menu_items li:hover,
li.active {
  background-color: #7de7ffc1;
  transition: 2s;
}
.btn_menu {
  margin-right: 30px;
  font-size: 25px;
  color: white;
  cursor: pointer;
  display: none;
}

ul.show {
  top: 65px;
}
.menu_items > li > ul {
  display: none;
}
.menu_items > li:hover > ul {
  display: block;
}
.button {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #7de7ffc1;
  border-color: #d8d8d8;
  border-width: 3px;
  border-style: solid;
  border-radius: 35px;
}
.content {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.itemCount {
  border: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.btnCount {
  margin: 10px;
}
